{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^actions/(.*)$",
    "^components/(.*)$",
    "^db/(.*)$",
    "^server/(.*)$",
    "^types/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
